<!-- <div class="container">
    <div class="col-md-8 offset-md-2">
        <router-outlet></router-outlet>
    </div>
</div> -->
<!-- <mat-grid-list cols="2">
    <div fxLayout="row">
        <div class="sub-section-1">section 1</div>
        <div class="sub-section-2">section 2</div>
    </div>[formGroup]="contactForm"
</mat-grid-list> -->
<!-- 

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
 
    <form fxLayout="column" >
         <h1>User Login</h1>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex>
            <input matInput type="text" placeholder="Usuario" formControlName="login-user">
          </mat-form-field>
        </div>
  
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex>
            <input matInput  type="text"  placeholder="Contraseña" formControlName="password">
          </mat-form-field>
        </div>
      </form>
  </div> -->


  
  <div class="container">
    <div class="col-md-8 offset-outlet-md-2">
      <router-outlet></router-outlet>
    </div>
  </div>